pip install os, time, urllib.parse, ftplib, html, re, sys, platform
pip install traceback
pip install datetime
pip install lxml
pip install xml.sax
pip install random
pip install tqdm
pip install imaplib
pip install email
pip install socks
pip install quopri
pip install langdetect
pip install googletrans
pip install validators
pip install base64
pip install requests
pip install stem
pip install stem.control
pip install requests.adapters
pip install requests.packages.urllib3.util.retry
pip install xml.sax.saxutils
pip install selenium
pip install selenium_stealth
pip install webdriver_manager.chrome
pip install webdriver_manager.core.utils
pip install pyvirtualdisplay
pip install seleniumbase
pip install re
pip install threading
pip install subprocess
pip install pathlib
